@font-face {
  font-family: "mont-heavy";   
  src: local("Mont-Heavy"),
    url("../public/Mont-Heavy.otf")
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1{
  font-size: 70px;
}
h2{
  font-size : 30px
}